Brotli
click
colorama
dash>=2.5.0
dash-core-components
dash-html-components
dash-table
Flask
Flask-Compress
gunicorn
itsdangerous
Jinja2
MarkupSafe
plotly
six
tenacity
Werkzeug
pandas
lxml
html5lib
geopandas
#folium
matplotlib
#mapclassify
git+https://github.com/amacd31/kiwis_pie.git